@use '@/values' as *;
@use 'sass:color';

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $mainBackground;
}

.login-container {
  background-color: $panelBackground;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;

  h1 {
    margin-bottom: 0.1rem;
    color: $fontColor;
  }

  h2 {
    margin-bottom: 0.2rem;
    color: color.adjust($fontColor, $lightness: -12%) ;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    color: $fontColor;
  }

  .error {
    color: red;
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    text-align: left;

    label {
      margin-bottom: 0.5rem;
      color: $fontColor;
    }

    input {
      padding: 0.5rem;
      border: 1px solid $fontColor;
      border-radius: 4px;
      font-family: 'Roboto';
      line-height: 15px;

      &:focus {
        outline-width: 0;
      }
    }
  }

  button {
    padding: 0.5rem;
    background-color: $mainBackground;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: color.adjust($mainBackground, $lightness: 5%);
    }
  }
}