.add-material {
    &__form {
        &__submit-btn {
            background-color: white;
            font-family: 'Roboto';
            font-size: 16px;
            border: 0;
            border-radius: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}